# =========================
# Python / Virtualenv
# =========================
venv/
.venv/
env/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# =========================
# dbt
# =========================
target/
dbt_packages/
logs/
profiles.yml
dbt_modules/

# =========================
# Databricks / Spark
# =========================
.metastore/
*.dbc

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.log
*.tmp
*.swp